%% -*- erlang -*-
{deps, [
    {amqp_client, ".*", {git, "git://github.com/issuu/amqp_client.git", {branch, "jl/v3.2.2"}}},
    {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", {branch, "master"}}},
    {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}}
 ]}.

{erl_opts, [
    debug_info,
    warn_format,
    warn_export_all,
    warn_export_vars,
    warn_shadow_vars,
    warn_obsolete_guard,
    warn_unused_import,
    {parse_transform, lager_transform} ]}.

{xref_warnings,true}.

{xref_checks,[exports_not_used,undefined_function_calls]}.
