%% -*- erlang -*-
{deps, [{amqp_client, ".*", {git, "git://github.com/issuu/amqp_client.git", {tag, "rabbitmq-3.1.1"}}},
        {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", {branch, "master"}}}
       ]}.

{xref_warnings,true}.

{xref_checks,[exports_not_used,undefined_function_calls]}.
