%% -*- erlang -*-
{deps, [
    % {ranch_proxy_protocol, "2.1.1"},
    {amqp_client, "3.10.1"},
    {gproc, "0.9.0"},
    {lager, "3.9.2"}
 ]}.

{erl_opts, [
    debug_info,
    {parse_transform, lager_transform} ]}.

{overrides, [
    {override, ranch_proxy_protocol, [{erl_opts, [debug_info]}]}
]}.
